body{
    padding-top: 100px;
    background-image: url(circle-blues.png);
    text-align: center;
    font-family: 'Times new roman';
}

.main{
    width: 800px;
    height: 520px;
    background-color: #fafafa;
    margin: auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

.img{
    background-image: url(foto.jpg);
    background-color: #eaeaee;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px solid #eaeaea;
}

h1{
    font-size: 30px;
    margin: auto;
    font-weight: bold;
    color: #6944ff;
}

text{
    font-size: 15px;
    color: #324e63;
}

p{
    margin: auto;
    text-align: justify;
    padding-top: 20px;
    width: 600px;
    color: #324e63;
}